<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Remove AD_ID dynamically for internal builds -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="${removeAdIdPermission}" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"/>
</manifest>
